<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class = "navbar-brand">KURSACH 2022</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/a/clients}">Клиенты</a>
            <a class="nav-item nav-link" th:href="@{/a/users}">Пользователи</a>
            <a class="nav-item nav-link" th:href="@{/a/orders}">Заказы</a>
            <a class="nav-item nav-link" th:href="@{/a/goods}">Товары</a>
            <a class="nav-item nav-link" th:href="@{/a/gifts}">Подарочные сертификаты</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class = "row">
        <div class = "col-md-3">
    <a th:href="@{goods/pieces}" class="btn btn-danger btn-lg btn-block btn-huge">Товары</a>
        </div>
        <div class = "col-md-3">
    <a th:href="@{goods/types}" class="btn btn-danger btn-lg btn-block btn-huge" >Виды товаров</a>
        </div>
            <div class = "col-md-3">
    <a th:href="@{goods/collections}"  class="btn btn-danger btn-lg btn-block btn-huge">Коллекции</a>
            </div>
    </div>
</div>
</body>
</html>