<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Добавить коллекцию</h3>
<form id="form" th:object="${addCollection}" th:action="@{/a/goods/collections/add}" method="post">
    <input type="text" placeholder="Название" th:field="*{name}">
    <input type="text" placeholder="Год" th:field="*{year}">
    <input type="text" placeholder="Автор" th:field="*{author}">
<!--    <input type="text" placeholder="Категория" >-->
    <input type="submit" value="Добавить">
</form>
<table>
    <tr>
        <td>Номер</td>
        <td>Название</td>
        <td>Год</td>
        <td>Автор</td>
    </tr>

    <tr th:each="collection:${collections}">
        <form th:action="@{/a/collections/upd}" method="post">
            <td>
                <input type="hidden" th:text="${collection.id}" th:value="${collection.id}" th:id="id" th:name="id">
            </td>
            <td>
                <input type="hidden" th:text="${collection.name}" >
            </td>
            <td>
                <input type="hidden" th:text="${collection.year}" >
            </td>
            <td>
                <input type="hidden" th:text="${collection.author}" >
            </td>
        </form>
        <form th:action="@{/a/goods/collections/delete}" method="post">
            <td>
                <input type="hidden" th:value="${collection.id}" th:id="id" th:name="id">
                <input type="submit" value="Удалить">
            </td>
        </form>
    </tr>
</table>

</body>
</html>