<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:method="post" th:action="@{/login}" th:object="${fashUser}" >
    <input type="text" th:field="*{username}">
    <input type="password" th:field="*{password}">
    <input type="submit" value="Войти">
</form>
<a th:href="@{registration}">Зарегистрироваться</a>
</body>
</html>