<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!--th:object="${fashUser}" th:action="@{/register}"
th:value="*{email}"
th:value="*{username}"
th:value="*{password}"
-->
<!--/*@thymesVar id="fashUser" type="com.example.demo.domain.FashUser"*/-->
<form th:method="post" th:action="@{/register}" th:object="${fashUser}" >
    <input type="email" th:field="*{email}"  placeholder="email">
    <input type="text" th:field="*{username}"  placeholder="username">
    <input type="password" th:field="*{password}"  placeholder="password">
    <input type="password" name="confirm_password" placeholder="repeat pls">
    <input type="submit" value="Зарегистрироваться">
</form>
<a href="login.html">Войти</a>
</body>
</html>