<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!--th:object="${user}" th:action="@{/register}"
th:value="*{email}"
th:value="*{username}"
th:value="*{password}"
-->
<!--/*@thymesVar id="user" type="com.example.demo.domain.User"*/-->
<form method="post" >
    <input type="email" name="email"  placeholder="email">
    <input type="text" name="username"  placeholder="username">
    <input type="password" name="password"  placeholder="password">
    <input type="password" name="confirm_password" placeholder="repeat pls">
    <input type="submit" value="Зарегистрироваться">
</form>
<a href="login.html">Войти</a>
</body>
</html>