<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:object="${item}">

<h3 th:text="${item.getName()}"></h3>
<table>
    <tr>
        <td th:text="${item.getName()}" />
        <td th:text="${item.getPrice()}" />
        <td th:text="${item.getSize()}" />
        <td th:text="${item.getType().getName()}" />
    </tr>
</table>
<br>
<form method="post" th:action="@{/u/order/newCl(id=${item.getId()})}" th:object="${clientt}">
    <input type="text" placeholder="name" th:field="*{name}">
    <input type="text" placeholder="last name" th:field="*{lastName}">
    <input type="text" placeholder="age" th:field="*{age}">
    <input type="submit" value="Добавить данные клиента">
</form>

</body>
</html>